footer{
    width: 95vw;
    background-color: var(--bg);
    margin: 0 2vw;
}

.bottom{
    text-align: justify;
    justify-items: center;
}

li{
    list-style: none;
}

.LOW li:hover, .bottom:hover{
    color: black;
    background-color: plum;
}

.grid {
    display: flex;
    border-top: grey 1px solid;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.75rem;
}