.review{
    background-color: var(--bg);
}

.review__article{
    margin: 2% 10%;
    background-color: white;
    border-left: var(--bg-accent) 2px solid;
    border-right: var(--bg-accent) 2px solid;
    text-align: center;
    border-radius: 1%;
}

.review__article>p{
    text-align: left;
    margin: 5px 10px;
}

.review>.item{
    border-bottom: var(--bg-accent) 2px solid;
}

.review__article li{
    font-style: italic;
}

.review__proscons{
    display: flex;
    justify-content: space-evenly;
}

.review__proscons>div{
    padding: 10px;
}

.review>h2{
    padding-top: 10px;
    text-align: center;
    color: var(--text-color);
}

.review__card__space{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}