*{
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: var(--bg);
}

article{
  padding: 2px 4px;
  margin: 2% 10%;
  background-color: white;
  border-left: var(--bg-accent) 2px solid;
  border-right: var(--bg-accent) 2px solid;
  text-align: justify;
  border-radius: 8px;
}

article a{
  color: rgb(43, 196, 56);
}

article p, h2{
  padding: 8px 8px;
}

article img{
  max-height: 75vh;
  max-width: 90%;
}

.article__picture{
 text-align: center;
}

.article__picture>h6{
  font-style: italic;
  font-size: small;
  font-weight: normal;
}